# Python Basics Review

---

### 1) What are the types of the following variables?

In [22]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [23]:
# A:
# a - int
# b - float
# c - int list
# d - dictionary
# e - string tuple
# f - dictionary
# g - bool set to true
# h - bool set to false
# i - string
type(i)

str

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [24]:
# A:
# mutable objects can have content changed without changing their identity (lists, dictionaries)
# immutable objects cannot be changed after creation (int, float, string, tuple, array, bool)

---

### 3) Print the `student_names` list.

In [25]:
# A:
student_names = ["paul", "david", "cindy", "magdelona", "jacob", "howard", "chahn", "lindsay", "kelsey", "melissa", "dahee"]
print(student_names)

['paul', 'david', 'cindy', 'magdelona', 'jacob', 'howard', 'chahn', 'lindsay', 'kelsey', 'melissa', 'dahee']

---

### 4) Print the names of the first and last students on the list.

In [26]:
# A:
print(student_names[0]) #first
print(student_names[len(student_names)-1]) #last

paul
dahee

In [27]:
print(student_names[-1])

dahee

In [28]:
print(student_names[::2])# skip count every 2

['paul', 'cindy', 'jacob', 'chahn', 'kelsey', 'dahee']

In [29]:
print(student_names[::-1]) # reverse list

['dahee', 'melissa', 'kelsey', 'lindsay', 'chahn', 'howard', 'jacob', 'magdelona', 'cindy', 'david', 'paul']

---

### 5) Print the first five names in the `student_names` list.

In [30]:
# A:
i = 0
while i < 5:
    print(student_names[i])
    i += 1

paul
david
cindy
magdelona
jacob

In [31]:
print(student_names[0:5])

['paul', 'david', 'cindy', 'magdelona', 'jacob']

In [32]:
print(student_names[:5])

['paul', 'david', 'cindy', 'magdelona', 'jacob']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [33]:
# A:
two_homies = student_names[8] + " " + student_names[9]
print(two_homies)

kelsey melissa

---

### 7) Append an animal to the list of animals.

In [34]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [35]:
# A:
animals.append("sugar glider")
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'sugar glider']

---

### 8) Print the length of the `animals` list.

In [36]:
# A:
print(len(animals))

7

---

### 9) Divide the length of the fifth animal by the second.

In [37]:
# A:
divided = len(animals[4]) / len(animals[1])
print(divided)

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [64]:
# A:
divided = float(len(animals[4]) / len(animals[1]))
print(divided)

2.3333333333333335

In [38]:
int(divided)

2

In [39]:
round(divided, 3)

2.333

In [41]:
print("The quotient of {} and {} is {:.4f}".format(7, 3, divided))

The quotient of 7 and 3 is 2.3333

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [42]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [43]:
# A:
combo_power = numbers.copy()
for buddy in animals:
    combo_power.append(buddy)
print(combo_power)
print(numbers)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'sugar glider']
[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

In [44]:
combo_power2 = numbers + animals
print(combo_power2)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'sugar glider']

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [70]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [65]:
# A:
where = names.index("kiefer")
names.pop(where)
names.insert(where, "bex")
print(names)

['doug', 'billy', 'bex', 'kian', 'sam']

In [66]:
names[2] = "bexx"
names

['doug', 'billy', 'bexx', 'kian', 'sam']

In [71]:
where = names.index("kiefer")
names[where] = "bex"
names

['doug', 'billy', 'bex', 'kian', 'sam']

---

### 13) Sort the following list.

In [18]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [16]:
# A:
mix2 = [200, 5, 16, 100, 0, 101, 200]
mix2.sort()
print(mix2)

[0, 5, 16, 100, 101, 200, 200]

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [17]:
# A:

max_num = 0
for i in mix2:
    if i > max_num:
        max_num = i
print(max_num)

#easier way
print(max(mix2))

200
200

---

### 15) Find the index of `'a'` in the list.

In [19]:
# A:
mix.index('a')

5

---

### 16) Reverse the `mix` list.

In [20]:
# A:
mix[::-1]

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [21]:
# A:
last_in_mix = mix[-1]
mix.remove(last_in_mix)
print(mix)
print(last_in_mix)

[['billy', 'sam'], {'key': 'value'}, 12.999, 12, 'flower', 'a']
(1, 2, 3)

---

### 18) Count the number of times `0` appears in the following list.

In [22]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [23]:
# A:
zero_count = 0
for i in binary:
    if i == 0:
        zero_count += 1
zero_count

16

In [107]:
#palindrome question
palindromes = []
for i in range(100, 999):
    for j in range(100, 999):
        prod = str(i*j)
        if prod == prod[::-1]:
            palindromes.append(int(prod))

In [108]:
max(palindromes)

906609

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [69]:
# A:
sf_zipcodes = {'sunset':94122, 'presidio':94129, 'soma':94105, 'marina':94123}
sf_zipcodes

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [70]:
# A:
soma_zipcode = sf_zipcodes.get("soma")
soma_zipcode

94105

---

### 21) Get the keys out of the dictionary.

In [71]:
# A:
sf_zipcodes.keys() # or .values() if you want the values

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [72]:
# A:
sf_zipcodes_ls = []
for key, value in sf_zipcodes.items():
    temp = [key,value]
    sf_zipcodes_ls.append(temp)
sf_zipcodes_ls

[['sunset', 94122], ['presidio', 94129], ['soma', 94105], ['marina', 94123]]

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [73]:
# A:
sf_zipcodes["the castro"] = 94114
sf_zipcodes

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'the castro': 94114}

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [74]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [75]:
# A:
sf_zipcodes.update(small)

In [76]:
sf_zipcodes

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'the castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [77]:
# A:
sunset = sf_zipcodes.pop('sunset')
sunset

94122

In [78]:
sf_zipcodes

{'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'the castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [79]:
# A:
if 'dogpatch' in sf_zipcodes:
    print('dogpatch is in dict')
else:
    print("error, no dogpatch")

dogpatch is in dict